{% extends "index.html" %}
{% load static %}
{% block content %}

<h2>Buscador de jugadores/equipos</h2>
<hr></hr>

<form action="/search" method="GET">
    <div>
        <input type="text" name="jug_search" id="jugador_nombre" placeholder="Busqueda por nombre">
        <input type="submit" value="Buscar por Nombre">
    </div>
    <div>
        <input type="text" name="equi_search" id="jugador_equipo" placeholder="Busqueda por equipo">
        <input type="submit" value="Buscar por equipo">
    </div>
    <div>
        <input type="text" name="all_search" id="jugador_equipo_o_nombre" placeholder="Busqueda general">
        <input type="submit" value="Buscar">
    </div>

</form>

<hr></hr>

{% if jugadores %}
    <ul>
        {% for jugador in jugadores %}
            <li>
                Jugador: {{jugador.nombre}}
                -- Equipo: {{jugador.equipo}}
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% endblock %}